/* === Utility Layout Styles === */


.title-divider {
  margin-bottom: var(--spacing-large);
  border-top: 2px solid #ffffff;
}

/* === about === */
.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-large);
  align-items: start;
}

.about-wrapper h2 {
  align-items: center;
}

.about-left {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.about-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.about-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* === skills === */
.skill-wrapper {
  display: flex;
  gap: var(--spacing-medium);
  justify-content: center;
  flex-wrap: wrap;
}

.skill-item {
  background: #fff;
  border: 2px solid #000;
  border-radius: 12px;
  flex: 1 1 30%;
  max-width: 300px;
  padding: var(--spacing-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #000;
}

.skill-icon img {
  width: 75px;
  height: 75px;
  object-fit: contain;
  margin-bottom: var(--spacing-small);
}

.skill-item hr {
  width: 60%;
  border: none;
  border-top: 2px solid #000;
  margin-top: 0;
  margin-bottom: var(--spacing-small);
}

.skill-tags {
  margin-top: auto;
}

@media (max-width: 768px) {
  .skills-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .skill-item {
    max-width: 90%;
  }
}

/* === Experiance === */
.experience-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  margin-bottom: var(--spacing-medium);
}

#experience h4 {
  font-weight: var(--font-weight-light);
  text-align: center;
}

.experience-divider {
  width: 25%;
  opacity: 75%;
  margin-top: 0;
  margin-bottom: var(--spacing-medium);
}

.experience-entry {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-large);
  align-items: start;
}

.experience-role, .experience-dates {
  font-size: var(--font-base);
  line-height: var(--line-loose);
  font-weight: var(--font-weight-light);
}

.experience-company {
  font-size: var(--font-2xl);
  line-height: var(--line-tight);
  font-weight: var(--font-weight-normal);
}


/* === URL === */
#url-splash {
  background-color: #FFFAFA;
  padding: var(--spacing-large) var(--spacing-medium);
  text-align: center;
  color: #000;
}
