/* === General styling === */
:root {
  /* spacing */
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 4rem;

  /* Font families */
  --font-primary: "Sora", serif;
  --font-secondary: "Manrope", sans-serif;

  /* Base sizes */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;
  --font-3xl: 3rem;

  /* Line heights */
  --line-tight: 1.2;
  --line-normal: 1.5;
  --line-loose: 1.75;

  /* font weight */
  --font-weight-normal: 400;
  --font-weight-light: 100;
  --font-weight-bold: 700;
}

/* === Type defaults === */
body {
  font-family: var(--font-secondary);
  font-size: var(--font-base);
  line-height: var(--line-normal);
  color: #fff;
  margin: 0;
  padding: 0;
  background: #1a1a1a url('media/abstract-black-sand-waves-background_1235831-38323_02.jpg') no-repeat center center fixed;
  background-size: cover;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-tight);
  margin: 0 0 1rem 0;
}

h1 { font-size: var(--font-3xl); }
h2 { font-size: var(--font-2xl); text-align: center;}
h3 { font-size: var(--font-xl); }
h4 { font-size: var(--font-lg); }
p {
  font-family: var(--font-secondary);
  font-size: var(--font-base);
  margin-bottom: 1rem;
  line-height: var(--line-normal);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
  

/* === conent organization === */
.content {
    margin-top: 120px; /* Adjust based on navbar height */
    margin-bottom: var(--spacing-large);
  }
  
.section-wrapper {
  max-width: 80vw;
  margin: 0 auto;
  /* padding: 2rem 1rem; */
  margin-bottom: var(--spacing-large);
}



  


/* === Navigation bar === */
.navbar-wrapper {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: auto;
}

.navbar {
  background-color: #F5F5F5;
  border-radius: 2rem;
  padding: 0.8rem 2rem;
  width: 90%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
  

/* Logo */
.logo {
  font-weight: bold;
  color: #cc00ff;
  font-size: 1.3rem;
  text-transform: lowercase;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-links li a:hover {
  color: #cc00ff;
}

/* Right-aligned icons */
.nav-icons a {
  margin-left: 1rem;
}

.nav-icons img {
  width: 20px;
  height: 20px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.nav-icons img:hover {
  filter: none;
}

/* === footer === */
footer p {
  color: white;
  text-align: center;
  font-size: var(--font-sm);
}